<!DOCTYPE html>
<html>
  <head>
    <title>Argentine 329</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
      body {
        background-color: #1111;
        color: rgb(0, 0, 0);
      }
      
      .card {
        background-color: rgb(80, 78, 78);
        color: white;
      }
    </style>
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Argentine 329</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('provinces') }}">Provincial Elections</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container mt-3">
      <div class="row justify-content-center">
        <div class="col-sm-12 text-center">
          <h1> Ciudad Autónoma de Buenos Aires (CABA) city elections page</h1>
          <img src="{{ url_for('static', filename='images/ba_ciudad_flag.png') }}" alt="Buenos Aires City Flag" width="250" height="157">
          <br>
          <p> Provincial elections will take place in the Autonomous City of Buenos Aires on October 22, 2023, the same day as the national elections. Citizens will the elect the Chief of Government of the City (Mayor), and 30 deputies to the City Legislature. To find out more information, please visit the city government's election website at:
            <a href="https://buenosaires.gob.ar/ministeriodegobierno/reformapoliticayelectoral/elecciones-en-la-ciudad">buenosaires.gob.ar/ministeriodegobierno/</a>
            <br>
          </p>
        </div>
        <br>
        <div class="text-center"
        <br>
        <h2 id="latestpollbutton"> Latest City opinion polls by political party </h2>
        <div class="container mt-3">
          <div class="row justify-content-center">
            <div class="col-sm-12 text-center">
              <p>Last updated: May 18, 2023. 
              </p>
            </div>
        </div>
        <br>
        <div>
        <body>
          <div>
            <script type="text/javascript" defer src="https://datawrapper.dwcdn.net/oTRtO/embed.js?v=1" charset="utf-8"></script>
            <noscript><img src="https://datawrapper.dwcdn.net/oTRtO/full.png" " alt="" /></noscript>
          </div>
        </body>
        <br>